*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
body{
	background:#01A4A7;
	
}
.contenedor{
	margin-top: 3em;
	margin-left: 5em;
	margin-right: 5em;
	margin-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
	padding-bottom: 0;
	background:white;
	-webkit-border-radius: 5px 10px;  /* Safari  */
    -moz-border-radius: 5px 10px;   

}

header{/*******HEADER*******/
	display:block;
	height: 170px;
	margin-bottom: 1em;
	margin-top: 1em;
	
}

#headerLogo	img{
	width:100%;
	
}
#socialNav{/*******Navegador de las redes sociales*******/
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height:150px;
	align-items: center;

}
#ppalsearch{
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	height: 150px; 
}
#ppalsearch form{
	width:50%;

}
/*******fin HEADER*******/

#navPrincipal{ /*******NAV PRINCIPAL*******/
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 3em;
	margin-bottom: 0.5em;
	font-family: sans-serif;

}
#navPrincipal a{
	text-decoration: none;
}


/*******fin NAV PRINCIPAL*******/
main{
margin-top: 20px;
	
}
/*main .principalC{
	width: 20%;
	margin-top: 2em;
	text-align: center;

}*/

aside{
	margin-top:20px;
	width:25%;
	display: flex;
	flex-direction:column;
	align-items: flex-end;
}

aside img{
	display: flex;
	width: 100%;
	background:#A5C4B2;
	margin-bottom:5%;
	align-items: center;
	justify-content: center;

}

footer{
	margin-top: 3em;
	margin-bottom: 2em;
	padding: 2em;
	background-color:#E1021B;
	color:white;
	font-family:sans-serif;
	font-size: 12px;
}
footer img{
	width: 50%;

}